<p id="notice"><%= notice %></p>

<p>
  <strong>Vin:</strong>
  <%= @vehicle.vin %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Engine type:</strong>
  <%= @vehicle.engine_type %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @vehicle.license_plate %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle),class:"btn btn-success" %> |
<%= link_to 'Back', vehicles_path ,class:"btn btn-info" %>
